# ─── Application ─────────────────────────────────────────────
PORT=3000
NODE_ENV=development

# ─── PostgreSQL (local) ───────────────────────────────────────────────
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=poro_guess
POSTGRES_PORT=5432

# Supabase
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
DIRECT_URL="postgresql://postgres:[EMAIL_ADDRESS]:5432/poro_guess?schema=public"

# Local DB
# DIRECT_URL="postgresql://postgres:postgres@localhost:5432/poro_guess?schema=public"

# ─── pgAdmin ──────────────────────────────────────────────────
PGADMIN_EMAIL=admin@poroguess.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# Image Storage
R2=""

# OAuth Google
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/google/callback"

# OAuth Facebook
FACEBOOK_APP_ID="your_facebook_app_id"
FACEBOOK_APP_SECRET="your_facebook_app_secret"
FACEBOOK_CALLBACK_URL="http://localhost:3000/auth/facebook/callback"

# JWT Config
JWT_SECRET="your_super_secret_jwt_key"